@tailwind base;
@tailwind components;
@tailwind utilities;

.home-banner {
    background-image: url(./Assets/pokemon-2048.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}